*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: Roboto;
	src: url(../fonts/roboto-regular.ttf);
}

body{
	background-color: #efefef;
	font-family: Roboto;
}
main{
	width: 70%;
	padding: 50px;
	background-color: white;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}

.photo{
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16*9);
	margin: 20px;
	background-color: orange;
	background-position: center;
	background-size: cover;
	transition: all 0.5s ease;
}
.photo:hover{
	transform: rotate(3deg) scale(1.07);
}

h1{
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.photo1{
	background-image: url(../img/21p.jpg);
}
.photo2{
	background-image: url(../img/21pilots.jpg);
}
.photo3{
	background-image: url(../img/lana.jpg);
}
.photo4{
	background-image: url(../img/lanadel.jpg);
}
.photo5{
	background-image: url(../img/drag.jpg);
}
.photo6{
	background-image: url(../img/dragons.jpg);
}
.photo7{
	background-image: url(../img/score.jpg);
}
.photo8{
	background-image: url(../img/thescore.jpg);
}
